target/
!.mvn/wrapper/maven-wrapper.jar
*.versionsBackup
*.log

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
*.iws
*.iml
*.ipr
.idea/*
.idea
!.idea/runConfigurations/
